In [10]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [29]:
from matplotlib import rcParams, pyplot as plt
import numpy as np
import os
import pandas as pd
from pathlib import Path
import re
from sklearn.metrics import accuracy_score, log_loss
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import RepeatedStratifiedKFold
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, Embedding, LSTM, GlobalMaxPooling1D, Conv1D, Dropout, Bidirectional
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.callbacks import EarlyStopping, ReduceLROnPlateau
from tensorflow.keras.utils import plot_model, to_categorical
from tensorflow.keras.optimizers import Adam
import warnings 
warnings.filterwarnings(action='ignore')

In [30]:
gpus = tf.config.experimental.list_physical_devices('GPU')
if gpus:
    # Restrict TensorFlow to only use the first GPU
    try:
        tf.config.experimental.set_visible_devices(gpus[0], 'GPU')
        logical_gpus = tf.config.experimental.list_logical_devices('GPU')
        print(len(gpus), "Physical GPUs,", len(logical_gpus), "Logical GPU")
    except RuntimeError as e:
        # Visible devices must be set before GPUs have been initialized
        print(e)
else:
    print('No GPU detected')

1 Physical GPUs, 1 Logical GPU

In [31]:
rcParams['figure.figsize'] = (16, 8)
plt.style.use('fivethirtyeight')
pd.set_option('max_columns', 100)
pd.set_option("display.precision", 4)
warnings.simplefilter('ignore')

In [67]:
data_dir = Path("data")
feature_dir = Path("data")
val_dir = Path('data')
tst_dir = Path('data')
sub_dir = Path('data')

trn_file = data_dir / 'train.csv'
tst_file = data_dir / 'test_x.csv'
sample_file = data_dir/ 'sample_submission.csv'

target_col = 'author'
n_fold = 5
n_class = 5
seed = 42

In [68]:
algo_name = 'lstm'
feature_name = 'emb'
model_name = f'{algo_name}_{feature_name}'

feature_file = feature_dir / f'{feature_name}.csv'
p_val_file = val_dir / f'{model_name}.val.csv'
p_tst_file = tst_dir / f'{model_name}.tst.csv'
sub_file = sub_dir / f'{model_name}.csv'

In [34]:
train = pd.read_csv(trn_file, encoding = 'utf-8')
train.head()

   index                                               text  author
0      0  He was almost choking. There was so much, so m...       3
1      1             “Your sister asked for it, I suppose?”       2
2      2   She was engaged one day as she walked, in per...       1
3      3  The captain was in the porch, keeping himself ...       4
4      4  “Have mercy, gentlemen!” odin flung up his han...       3

In [35]:
test = pd.read_csv(tst_file, encoding = 'utf-8')
test.head()

   index                                               text
0      0  “Not at all. I think she is one of the most ch...
1      1  "No," replied he, with sudden consciousness, "...
2      2  As the lady had stated her intention of scream...
3      3  “And then suddenly in the silence I heard a so...
4      4  His conviction remained unchanged. So far as I...

In [36]:
sample = pd.read_csv(sample_file, index_col=0)
print(sample.shape)
sample

(19617, 5)

       0  1  2  3  4
index
0      0  0  0  0  0
1      0  0  0  0  0
2      0  0  0  0  0
3      0  0  0  0  0
4      0  0  0  0  0
...   .. .. .. .. ..
19612  0  0  0  0  0
19613  0  0  0  0  0
19614  0  0  0  0  0
19615  0  0  0  0  0
19616  0  0  0  0  0

[19617 rows x 5 columns]

In [37]:
#부호를 제거해주는 함수
def alpha_num(text):
    return re.sub(r'[^A-Za-z0-9 ]', '', text)

train['text']=train['text'].apply(alpha_num)

In [38]:
# 불용어 제거해주는 함수
def remove_stopwords(text):
    final_text = []
    for i in text.split():
        if i.strip().lower() not in stopwords:
            final_text.append(i.strip())
    return " ".join(final_text)

# 불용어
stopwords = [ "a", "about", "above", "after", "again", "against", "all", "am", "an", "and", "any", "are", "as", 
             "at", "be", "because", "been", "before", "being", "below", "between", "both", "but", "by", "could", 
             "did", "do", "does", "doing", "down", "during", "each", "few", "for", "from", "further", "had", "has", 
             "have", "having", "he", "he'd", "he'll", "he's", "her", "here", "here's", "hers", "herself", "him", "himself", 
             "his", "how", "how's", "i", "i'd", "i'll", "i'm", "i've", "if ", "in", "into", "is", "it", "it's", "its", "itself", 
             "let's", "me", "more", "most", "my", "myself", "nor", "of", "on", "once", "only", "or", "other", "ought", "our", "ours", 
             "ourselves", "out", "over", "own", "same", "she", "she'd", "she'll", "she's", "should", "so", "some", "such", "than", "that", 
             "that's", "the", "their", "theirs", "them", "themselves", "then", "there", "there's", "these", "they", "they'd", "they'll", 
             "they're", "they've", "this", "those", "through", "to", "too", "under", "until", "up", "very", "was", "we", "we'd", "we'll", 
             "we're", "we've", "were", "what", "what's", "when", "when's", "where", "where's", "which", "while", "who", "who's", "whom", 
             "why", "why's", "with", "would", "you", "you'd", "you'll", "you're", "you've", "your", "yours", "yourself", "yourselves" ]

In [39]:
#전처리 적용
train['text'] = train['text'].str.lower()
test['text'] = test['text'].str.lower()
train['text'] = train['text'].apply(alpha_num).apply(remove_stopwords)
test['text'] = test['text'].apply(alpha_num).apply(remove_stopwords)

In [40]:
X_train = train['text'].values
X_test = test['text'].values
y = train['author'].values
print(X_train.shape, X_test.shape, y.shape)

(54879,) (19617,) (54879,)

In [41]:
X_train[:3]

array(['almost choking much much wanted say strange exclamations came lips pole gazed fixedly bundle notes hand looked odin evident perplexity',
       'sister asked suppose',
       'engaged one day walked perusing janes last letter dwelling passages proved jane not written spirits instead surprised mr odin saw looking odin meeting putting away letter immediately forcing smile said'],
      dtype=object)

In [42]:
#파라미터 설정
vocab_size = 20000
embedding_dim = 16
max_length = 500
padding_type='post'
#oov_tok = "<OOV>"

In [43]:
#tokenizer에 fit
tokenizer = Tokenizer(num_words = vocab_size)
tokenizer.fit_on_texts(X_train)
word_index = tokenizer.word_index

In [44]:
train_sequences = tokenizer.texts_to_sequences(X_train)
test_sequences = tokenizer.texts_to_sequences(X_test)

In [45]:
trn = pad_sequences(train_sequences, padding=padding_type, maxlen=max_length)
tst = pad_sequences(test_sequences, padding=padding_type, maxlen=max_length)
print(trn.shape, tst.shape)

(54879, 500) (19617, 500)

In [53]:
cv = StratifiedKFold(n_splits=n_fold, shuffle = True, random_state=seed)

In [54]:
def get_model():
    model = Sequential([
        Embedding(vocab_size, embedding_dim, input_length=max_length),
        Bidirectional(LSTM(64, return_sequences=True)),
        Bidirectional(LSTM(64)),
        Dense(n_class, activation='relu'),
        Dropout(0.3),
        Dense(n_class, activation='softmax')
    ])
    
    model.compile(loss='categorical_crossentropy', optimizer=Adam(learning_rate=.01))
    return model

In [55]:
p_val = np.zeros((trn.shape[0], n_class))
p_tst = np.zeros((tst.shape[0], n_class))
for i, (i_trn, i_val) in enumerate(cv.split(trn, y), 1):
    print(f'training model for CV #{i}')
    clf = get_model()
    
    es = EarlyStopping(monitor='val_loss', min_delta=0.01, patience=3,
                       verbose=1, mode='min', baseline=None, restore_best_weights=True)

    clf.fit(trn[i_trn], 
            to_categorical(y[i_trn]),
            validation_data=(trn[i_val], to_categorical(y[i_val])),
            epochs=10,
            callbacks=[es])
    p_val[i_val, :] = clf.predict(trn[i_val])
    p_tst += clf.predict(tst) / n_fold

training model for CV #1
Train on 43903 samples, validate on 10976 samples
Epoch 1/10
43903/43903 [==============================] - 288s 7ms/sample - loss: 1.4729 - val_loss: 1.3347
Epoch 2/10
43903/43903 [==============================] - 297s 7ms/sample - loss: 1.3336 - val_loss: 1.3004
Epoch 3/10
43903/43903 [==============================] - 303s 7ms/sample - loss: 1.2794 - val_loss: 1.2832
Epoch 4/10
43903/43903 [==============================] - 309s 7ms/sample - loss: 1.2498 - val_loss: 1.3010
Epoch 5/10
43903/43903 [==============================] - 307s 7ms/sample - loss: 1.2397 - val_loss: 1.3134
Epoch 6/10
43872/43903 [============================>.] - ETA: 0s - loss: 1.2222Restoring model weights from the end of the best epoch.
43903/43903 [==============================] - 306s 7ms/sample - loss: 1.2223 - val_loss: 1.2896
Epoch 00006: early stopping
training model for CV #2
Train on 43903 samples, validate on 10976 samples
Epoch 1/10
43903/43903 [==============================] - 311s 7ms/sample - loss: 1.4643 - val_loss: 1.3346
Epoch 2/10
43903/43903 [==============================] - 305s 7ms/sample - loss: 1.2829 - val_loss: 1.1906
Epoch 3/10
43903/43903 [==============================] - 282s 6ms/sample - loss: 1.1098 - val_loss: 1.0374
Epoch 4/10
43903/43903 [==============================] - 305s 7ms/sample - loss: 0.9913 - val_loss: 0.9969
Epoch 5/10
43903/43903 [==============================] - 300s 7ms/sample - loss: 0.9168 - val_loss: 1.0517
Epoch 6/10
43903/43903 [==============================] - 300s 7ms/sample - loss: 0.8655 - val_loss: 1.0122
Epoch 7/10
43872/43903 [============================>.] - ETA: 0s - loss: 0.8190Restoring model weights from the end of the best epoch.
43903/43903 [==============================] - 323s 7ms/sample - loss: 0.8191 - val_loss: 1.1107
Epoch 00007: early stopping
training model for CV #3
Train on 43903 samples, validate on 10976 samples
Epoch 1/10
43903/43903 [==============================] - 367s 8ms/sample - loss: 1.5716 - val_loss: 1.5717
Epoch 2/10
43903/43903 [==============================] - 335s 8ms/sample - loss: 1.5710 - val_loss: 1.5712
Epoch 3/10
43903/43903 [==============================] - 279s 6ms/sample - loss: 1.5712 - val_loss: 1.5705
Epoch 4/10
43872/43903 [============================>.] - ETA: 0s - loss: 1.5712Restoring model weights from the end of the best epoch.
43903/43903 [==============================] - 367s 8ms/sample - loss: 1.5712 - val_loss: 1.5705
Epoch 00004: early stopping
training model for CV #4
Train on 43903 samples, validate on 10976 samples
Epoch 1/10
43903/43903 [==============================] - 345s 8ms/sample - loss: 1.3890 - val_loss: 1.1906
Epoch 2/10
43903/43903 [==============================] - 340s 8ms/sample - loss: 1.2093 - val_loss: 1.1211
Epoch 3/10
43903/43903 [==============================] - 254s 6ms/sample - loss: 1.1171 - val_loss: 1.0880
Epoch 4/10
43903/43903 [==============================] - 230s 5ms/sample - loss: 1.0597 - val_loss: 1.0815
Epoch 5/10
43903/43903 [==============================] - 231s 5ms/sample - loss: 1.0056 - val_loss: 1.0879
Epoch 6/10
43872/43903 [============================>.] - ETA: 0s - loss: 0.9732Restoring model weights from the end of the best epoch.
43903/43903 [==============================] - 230s 5ms/sample - loss: 0.9734 - val_loss: 1.3401
Epoch 00006: early stopping
training model for CV #5
Train on 43904 samples, validate on 10975 samples
Epoch 1/10
43904/43904 [==============================] - 213s 5ms/sample - loss: 1.5720 - val_loss: 1.5709
Epoch 2/10
43904/43904 [==============================] - 211s 5ms/sample - loss: 1.5714 - val_loss: 1.5704
Epoch 3/10
43904/43904 [==============================] - 211s 5ms/sample - loss: 1.5709 - val_loss: 1.5708
Epoch 4/10
43872/43904 [============================>.] - ETA: 0s - loss: 1.5712Restoring model weights from the end of the best epoch.
43904/43904 [==============================] - 213s 5ms/sample - loss: 1.5712 - val_loss: 1.5703
Epoch 00004: early stopping

In [56]:
print(f'Accuracy (CV): {accuracy_score(y, np.argmax(p_val, axis=1)) * 100:8.4f}%')
print(f'Log Loss (CV): {log_loss(pd.get_dummies(y), p_val):8.4f}')

Accuracy (CV):  44.1863%
Log Loss (CV):   1.3021

In [69]:
np.savetxt(p_val_file, p_val, fmt='%.6f', delimiter=',')
np.savetxt(p_tst_file, p_tst, fmt='%.6f', delimiter=',')

In [70]:
sub = pd.read_csv(sample_file, index_col=0)
print(sub.shape)
sub.head()

(19617, 5)

       0  1  2  3  4
index
0      0  0  0  0  0
1      0  0  0  0  0
2      0  0  0  0  0
3      0  0  0  0  0
4      0  0  0  0  0

In [71]:
sub[sub.columns] = p_tst
sub.head()

            0       1       2       3       4
index
0      0.1791  0.1135  0.2218  0.3637  0.1220
1      0.2102  0.2022  0.2325  0.2278  0.1273
2      0.4903  0.1224  0.1439  0.1372  0.1062
3      0.1935  0.1116  0.3113  0.1907  0.1930
4      0.2644  0.1633  0.2071  0.2281  0.1371

In [72]:
sub.to_csv(sub_file)