In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [94]:
from matplotlib import rcParams, pyplot as plt
import numpy as np
import os
import pandas as pd
from pathlib import Path
import re
from sklearn.metrics import accuracy_score, log_loss
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, log_loss
from sklearn.model_selection import StratifiedKFold
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer, HashingVectorizer
import seaborn as sns
from matplotlib import pyplot as plt
from matplotlib import rcParams
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, Embedding, LSTM, GlobalMaxPooling1D, Conv1D, Dropout, Bidirectional
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.callbacks import EarlyStopping, ReduceLROnPlateau
from tensorflow.keras.utils import plot_model, to_categorical
from tensorflow.keras.optimizers import Adam
import warnings 
warnings.filterwarnings(action='ignore')

In [125]:
gpus = tf.config.experimental.list_physical_devices('GPU')
if gpus:
    # Restrict TensorFlow to only use the first GPU
    try:
        tf.config.experimental.set_visible_devices(gpus[0], 'GPU')
        logical_gpus = tf.config.experimental.list_logical_devices('GPU')
        print(len(gpus), "Physical GPUs,", len(logical_gpus), "Logical GPU")
    except RuntimeError as e:
        # Visible devices must be set before GPUs have been initialized
        print(e)
else:
    print('No GPU detected')

1 Physical GPUs, 1 Logical GPU

In [18]:
rcParams['figure.figsize'] = (16, 8)
plt.style.use('fivethirtyeight')
pd.set_option('max_columns', 100)
pd.set_option("display.precision", 4)
warnings.simplefilter('ignore')

In [19]:
data_dir = Path("data")
feature_dir = Path("data")
val_dir = Path('data')
tst_dir = Path('data')
sub_dir = Path('data')

trn_file = data_dir / 'train.csv'
tst_file = data_dir / 'test_x.csv'
sample_file = data_dir/ 'sample_submission.csv'

target_col = 'author'
n_fold = 5
n_class = 5
seed = 42

In [20]:
algo_name = 'author'
feature_name = 'emb'
model_name = f'{algo_name}_{feature_name}'

feature_file = feature_dir / f'{feature_name}.csv'
p_val_file = val_dir / f'{model_name}.val.csv'
p_tst_file = tst_dir / f'{model_name}.tst.csv'
sub_file = sub_dir / f'{model_name}.csv'

In [97]:
trn = pd.read_csv(trn_file, encoding = 'utf-8')
trn.head()

   index                                               text  author
0      0  He was almost choking. There was so much, so m...       3
1      1             “Your sister asked for it, I suppose?”       2
2      2   She was engaged one day as she walked, in per...       1
3      3  The captain was in the porch, keeping himself ...       4
4      4  “Have mercy, gentlemen!” odin flung up his han...       3

In [98]:
tst = pd.read_csv(tst_file, index_col=0)
print(tst.shape)
tst.head()

(19617, 1)

                                                    text
index
0      “Not at all. I think she is one of the most ch...
1      "No," replied he, with sudden consciousness, "...
2      As the lady had stated her intention of scream...
3      “And then suddenly in the silence I heard a so...
4      His conviction remained unchanged. So far as I...

In [141]:
def alpha_num(text):
    return re.sub(r'[^A-Za-z0-9 ]', '', text)


def remove_stopwords(text):
    final_text = []
    for i in text.split():
        if i.strip().lower() not in stopwords:
            final_text.append(i.strip())
    return " ".join(final_text)


stopwords = [ "a", "about", "above", "after", "again", "against", "all", "am", "an", "and", "any", "are", "as", 
             "at", "be", "because", "been", "before", "being", "below", "between", "both", "but", "by", "could", 
             "did", "do", "does", "doing", "down", "during", "each", "few", "for", "from", "further", "had", "has", 
             "have", "having", "he", "he'd", "he'll", "he's", "her", "here", "here's", "hers", "herself", "him", "himself", 
             "his", "how", "how's", "i", "i'd", "i'll", "i'm", "i've", "if", "in", "into", "is", "it", "it's", "its", "itself", 
             "let's", "me", "more", "most", "my", "myself", "nor", "of", "on", "once", "only", "or", "other", "ought", "our", "ours", 
             "ourselves", "out", "over", "own", "same", "she", "she'd", "she'll", "she's", "should", "so", "some", "such", "than", "that", 
             "that's", "the", "their", "theirs", "them", "themselves", "then", "there", "there's", "these", "they", "they'd", "they'll", 
             "they're", "they've", "this", "those", "through", "to", "too", "under", "until", "up", "very", "was", "we", "we'd", "we'll", 
             "we're", "we've", "were", "what", "what's", "when", "when's", "where", "where's", "which", "while", "who", "who's", "whom", 
             "why", "why's", "with", "would", "you", "you'd", "you'll", "you're", "you've", "your", "yours", "yourself", "yourselves" ]

In [144]:
trn['text'] = trn['text'].str.lower().apply(alpha_num).apply(remove_stopwords)
tst['text'] = tst['text'].str.lower().apply(alpha_num).apply(remove_stopwords)

In [146]:
X_trn = trn['text'].values
X_tst = tst['text'].values
y = trn['author'].values
print(X_trn.shape, X_tst.shape, y.shape)

(54879,) (19617,) (54879,)

In [147]:
X_trn[:3]

array(['almost choking much much wanted say strange exclamations came lips pole gazed fixedly bundle notes hand looked odin evident perplexity',
       'sister asked suppose',
       'engaged one day walked perusing janes last letter dwelling passages proved jane not written spirits instead surprised mr odin saw looking odin meeting putting away letter immediately forcing smile said'],
      dtype=object)

In [148]:
#파라미터 설정
vocab_size = 20000
embedding_dim = 64
max_length = 500
padding_type='post'
#oov_tok = "<OOV>"

In [151]:
tokenizer = Tokenizer(num_words = vocab_size)
tokenizer.fit_on_texts(X_trn)
word_index = tokenizer.word_index

In [152]:
train_sequences = tokenizer.texts_to_sequences(X_trn)
test_sequences = tokenizer.texts_to_sequences(X_tst)

In [153]:
trn = pad_sequences(train_sequences, padding=padding_type, maxlen=max_length)
tst = pad_sequences(test_sequences, padding=padding_type, maxlen=max_length)
print(trn.shape, tst.shape)

(54879, 500) (19617, 500)

In [154]:
cv = StratifiedKFold(n_splits=n_fold, shuffle=True, random_state=seed)

In [155]:
def get_model():
    model = Sequential([
        Embedding(vocab_size, embedding_dim, input_length=max_length),
        Dropout(.5),
        Conv1D(128, 7, padding="valid", activation="relu", strides=3),
        Conv1D(128, 7, padding="valid", activation="relu", strides=3),    
        GlobalMaxPooling1D(),
        Dense(128, activation='relu'),
        Dropout(.5),
        Dense(n_class, activation='softmax')
    ])
    
    # compile model
    model.compile(loss='categorical_crossentropy',
                  optimizer=Adam(learning_rate=.005))
    return model

In [156]:
p_val = np.zeros((trn.shape[0], n_class))
p_tst = np.zeros((tst.shape[0], n_class))
for i, (i_trn, i_val) in enumerate(cv.split(trn, y), 1):
    print(f'training model for CV #{i}')
    es = EarlyStopping(monitor='val_loss', min_delta=0.001, patience=3,
                       verbose=1, mode='min', baseline=None, restore_best_weights=True)

    clf = get_model()    
    clf.fit(trn[i_trn], 
            to_categorical(y[i_trn]),
            validation_data=(trn[i_val], to_categorical(y[i_val])),
            epochs=10,
            batch_size=512,
            callbacks=[es])
    p_val[i_val, :] = clf.predict(trn[i_val])
    p_tst += clf.predict(tst) / n_fold

training model for CV #1
Train on 43903 samples, validate on 10976 samples
Epoch 1/10
43903/43903 [==============================] - 9s 196us/sample - loss: 1.3359 - val_loss: 1.0195
Epoch 2/10
43903/43903 [==============================] - 5s 109us/sample - loss: 0.8880 - val_loss: 0.8336
Epoch 3/10
43903/43903 [==============================] - 5s 108us/sample - loss: 0.6659 - val_loss: 0.8065
Epoch 4/10
43903/43903 [==============================] - 5s 108us/sample - loss: 0.5360 - val_loss: 0.8382
Epoch 5/10
43903/43903 [==============================] - 5s 107us/sample - loss: 0.4610 - val_loss: 0.8585
Epoch 6/10
43520/43903 [============================>.] - ETA: 0s - loss: 0.4014Restoring model weights from the end of the best epoch.
43903/43903 [==============================] - 5s 108us/sample - loss: 0.4017 - val_loss: 0.8741
Epoch 00006: early stopping
training model for CV #2
Train on 43903 samples, validate on 10976 samples
Epoch 1/10
43903/43903 [==============================] - 6s 126us/sample - loss: 1.3850 - val_loss: 1.0554
Epoch 2/10
43903/43903 [==============================] - 5s 110us/sample - loss: 0.9080 - val_loss: 0.8235
Epoch 3/10
43903/43903 [==============================] - 5s 110us/sample - loss: 0.6813 - val_loss: 0.7887
Epoch 4/10
43903/43903 [==============================] - 5s 107us/sample - loss: 0.5548 - val_loss: 0.8263
Epoch 5/10
43903/43903 [==============================] - 5s 107us/sample - loss: 0.4771 - val_loss: 0.8612
Epoch 6/10
43520/43903 [============================>.] - ETA: 0s - loss: 0.4243Restoring model weights from the end of the best epoch.
43903/43903 [==============================] - 5s 110us/sample - loss: 0.4244 - val_loss: 0.8850
Epoch 00006: early stopping
training model for CV #3
Train on 43903 samples, validate on 10976 samples
Epoch 1/10
43903/43903 [==============================] - 6s 140us/sample - loss: 1.3999 - val_loss: 1.1275
Epoch 2/10
43903/43903 [==============================] - 5s 119us/sample - loss: 1.0086 - val_loss: 0.8637
Epoch 3/10
43903/43903 [==============================] - 5s 112us/sample - loss: 0.7357 - val_loss: 0.7717
Epoch 4/10
43903/43903 [==============================] - 5s 110us/sample - loss: 0.5773 - val_loss: 0.7665
Epoch 5/10
43903/43903 [==============================] - 5s 110us/sample - loss: 0.4808 - val_loss: 0.7862
Epoch 6/10
43903/43903 [==============================] - 5s 106us/sample - loss: 0.4191 - val_loss: 0.8036
Epoch 7/10
43520/43903 [============================>.] - ETA: 0s - loss: 0.3737Restoring model weights from the end of the best epoch.
43903/43903 [==============================] - 5s 108us/sample - loss: 0.3741 - val_loss: 0.8506
Epoch 00007: early stopping
training model for CV #4
Train on 43903 samples, validate on 10976 samples
Epoch 1/10
43903/43903 [==============================] - 5s 122us/sample - loss: 1.3856 - val_loss: 1.1107
Epoch 2/10
43903/43903 [==============================] - 5s 107us/sample - loss: 0.9668 - val_loss: 0.8513
Epoch 3/10
43903/43903 [==============================] - 5s 108us/sample - loss: 0.6912 - val_loss: 0.7994
Epoch 4/10
43903/43903 [==============================] - 5s 109us/sample - loss: 0.5557 - val_loss: 0.8144
Epoch 5/10
43903/43903 [==============================] - 5s 109us/sample - loss: 0.4706 - val_loss: 0.8281
Epoch 6/10
43520/43903 [============================>.] - ETA: 0s - loss: 0.4097Restoring model weights from the end of the best epoch.
43903/43903 [==============================] - 5s 109us/sample - loss: 0.4101 - val_loss: 0.8710
Epoch 00006: early stopping
training model for CV #5
Train on 43904 samples, validate on 10975 samples
Epoch 1/10
43904/43904 [==============================] - 6s 129us/sample - loss: 1.4220 - val_loss: 1.2421
Epoch 2/10
43904/43904 [==============================] - 5s 112us/sample - loss: 1.0804 - val_loss: 0.8896
Epoch 3/10
43904/43904 [==============================] - 5s 110us/sample - loss: 0.7460 - val_loss: 0.8223
Epoch 4/10
43904/43904 [==============================] - 5s 108us/sample - loss: 0.5801 - val_loss: 0.8413
Epoch 5/10
43904/43904 [==============================] - 5s 106us/sample - loss: 0.4843 - val_loss: 0.8433
Epoch 6/10
43008/43904 [============================>.] - ETA: 0s - loss: 0.4279Restoring model weights from the end of the best epoch.
43904/43904 [==============================] - 5s 104us/sample - loss: 0.4285 - val_loss: 0.8873
Epoch 00006: early stopping

In [157]:
print(f'Accuracy (CV): {accuracy_score(y, np.argmax(p, axis=1)) * 100:8.4f}%')
print(f'Log Loss (CV): {log_loss(pd.get_dummies(y), p):8.4f}')

Accuracy (CV):  76.7033%
Log Loss (CV):   0.6792

In [158]:
sub = pd.read_csv(sample_file, index_col=0)
print(sub.shape)
sub.head()

(19617, 5)

       0  1  2  3  4
index
0      0  0  0  0  0
1      0  0  0  0  0
2      0  0  0  0  0
3      0  0  0  0  0
4      0  0  0  0  0

In [159]:
sub[sub.columns] = p_tst
sub.head()

            0       1           2           3       4
index
0      0.0365  0.2005  2.7904e-01  4.3994e-01  0.0440
1      0.1202  0.6023  7.6559e-02  5.3549e-02  0.1474
2      0.9867  0.0102  7.7504e-05  6.3665e-05  0.0029
3      0.0592  0.0041  8.0887e-01  4.2976e-03  0.1235
4      0.6159  0.0239  1.4311e-01  8.5695e-02  0.1314

In [160]:
sub.to_csv(sub_file)